# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Streamlit Secrets ---
.streamlit/secrets.toml

# --- Environment ---
.venv/
venv/
.env

# --- OS ---
.DS_Store
Thumbs.db

# --- Project Specific ---
D:/med-synth-ai/images/